body{
    background: #f9f7f6;
}
.page_list{
    margin: 10px auto 0;
    width: 60%;
    height: 30px;
    /*border:1px solid black;*/
}
ul{
    margin: 0 auto;
    /*border:1px solid #C9C9CA;*/
    list-style:none;
}
ul li{
    font-size: 18px;
    margin-left: 18px;
    float: left;

}

ul li a{
    color: black;
    text-decoration:none;
}
ul li a:hover{
    background: #C9C9CA;
    color: black;
    font-weight:bold;
    text-decoration:none;
}