<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style_article.css" />
    <title>AboutLove Article</title>
</head>

<body>
<header>

</header>
<nav>

</nav>
<div class="main">
    <article>
        <h1>一个“好人”如何去挽回失去的爱情</h1>
        <section class="section_content">
            <section>
                <span>2015-12-17</span>
                <span>作者：AboutLove</span>
            </section>
            <div class="article_image">
                <img src="static/images/website5.jpg" alt="cover2" onload="this.width=screen.width;"/>
            </div>
            <section>
                <p class="article_brief">表白，相信这个动作是每个人一生当中都会触发的一个行为，大部分人认为表白是跟女孩确定恋爱关系非常有效的一种方法，有耐心和妹子建立深层次的联系感并对妹子产生了吸引力，
                    妹子接受的概念就会大增其实，盲目的表白你会发现往往到最后没有任何效果。</p>
            </section>
            <section>
                <p class="article_content">有个朋友，做个一个实验，并把它录制成了一个视频剪辑，内容大概是这样的，他收集了现实生活中将近50个男人的表白现场实录，有的是在人民广场这样人流量聚焦的地区，有的像电影里那样是在很有格调的西餐厅，有的是在酒吧，有的是在朋友聚会，更有夸张一点的，你们可能都想不到，是在足球比赛的现场。
                    最后的结果出来了，成功率几乎只有5%不到，对的，你没看错，就是这么低。很多兄弟觉得不可思议，怎么会这样，和电视电影里的完全不一样啊，呵呵，因为这才是现实。为什么女人的反应都几乎是拒绝，完全不顾及男人的面子，也完全没有被感动的赶脚。
                    那么我来告诉兄弟们，问题出在哪，因为这种情况下，女人会本能的产生一种压迫感，或者说是不安全感，她们会条件反射式的去拒绝。
                    因为在进化学来看，远古时代的人类基因，仍然在现代人的基因里有保留，在古代的女人，她们一旦选定一个男人，她的生命就跟这个男人绑定在了一起，换句话说，如果这个男人不能提供足够的食物，这个女人在怀孕期间就会被饿死。
                    这种选错了对象就要付出生命代价的基因一直延续至今，所以，女人一旦面对男人表白这种事情的时候，就会自动切换到理性思考模式，接受面临的是风险，而拒绝是最保险的做法，女人不傻，所以，她们会选择拒绝就不难理解了。现在兄弟们懂了这个道理，那有的兄弟要说了，既然这样，不去表白，怎么追到女人，难道让女人对你表白么？恩，让女人表白也不是不可能的，我们家的方法就可以让你做到，让女人倒追你，我们有的是方法。
                    这就是我们家自主开发的男神模式，它可以让你和女人的互动交流之后，让女人喜欢上你，让女人主动对你示好，对你表白。至于该怎么做，只需要关注我们的微信公众号，那里面有干货会告诉你。
                    当然，这么说并不是告诉你不可以去表白，不过男人表白要掌握方式方法。
                    不能没头没脑的干，在你对一个女人表白之前，你先得让她看起来也有点喜欢你。你要让她感觉是情投意合非常自然的一件事，而不是说直接表白，她都不知道你叫什么，你就冲上去说，我很喜欢你，这样只会让女人觉得你有问题，所以表白之前我们先要制造出来女人对我们的需求。
                    比如你和女人聊天，互动很好，她也很乐意跟你继续里面的话题。你可以试着不要那么饥渴，改天和她聊天的时候，等着她主动找你，这样一来，就是女人暴露需求的时候，这时候你可以跟她调侃说，我发现一个问题，妹子一般会问什么问题，你可以说，我觉得你对我有意思，或者我觉得你好像喜欢我。这时候，不管她是默认还是否定，都为你后续的表白打下了良好的基础。
                    男人对女人表白也有很多成功的，但是这些成功的男人有一个共性。</p>
            </section>
        </section>
    </article>
</div>
<footer>

</footer>

</body>
</html>