<!DOCTYPE html>
<html lang="en">
{% block head %}
<meta charset="UTF-8">
<title>精品文章</title>
<link rel="stylesheet" type="text/css" href="static/css/list.css" />
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
{% end %}
{% block body %}
<header>
</header>
<nav>
</nav>
<div class="main">
    <div class="theme">
        <div class="theme_name">
            <h1>最热文章</h1>
        </div>
        <div class="theme_content">
            <div class="item">
                <div class="image">
                    <img src="static/images/website4.jpg" alt="cover2" onload="this.width=screen.width;"/>
                </div>
                <div class="text">
                    <div class="title">
                        <h2>一个“好人”如何去挽回失去的爱情</h2>
                    </div>
                    <div class="brief">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一，不要纠结于过去，承认你们的关系已经破裂。盗哥讲过，不要把过去的承诺拿到现在来用，一切的承诺仅仅限于女孩对你当时的感觉和情绪。感觉和情绪一去不复返，
                            现在有的只有厌烦，之前的所有兴趣都成为过去。承认关系已经破裂，你现在需要做的不是纠缠，而是想如何正确的去修复……</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="static/images/website5.jpg" alt="cover2" onload="this.width=screen.width;"/>
                </div>
                <div class="text">
                    <div class="title">
                        <h2>一个“好人”如何去挽回失去的爱情</h2>
                    </div>
                    <div class="brief">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一，不要纠结于过去，承认你们的关系已经破裂。盗哥讲过，不要把过去的承诺拿到现在来用，一切的承诺仅仅限于女孩对你当时的感觉和情绪。感觉和情绪一去不复返，
                            现在有的只有厌烦，之前的所有兴趣都成为过去。承认关系已经破裂，你现在需要做的不是纠缠，而是想如何正确的去修复……</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="static/images/website6.jpg" ID=smallslot alt="cover2" onload="this.width=screen.width;"/>
                </div>
                <div class="text">
                    <div class="title">
                        <h2>因为害怕结束，你拒绝了所有开始</h2>
                    </div>
                    <div class="brief">
                        <p id="a">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二，学习。对的，就是学习，你的事业不是你学习，不是你努力获得的么。同样的，恋爱这门学问你需要学，这时候你要学的是什
                            稳定。当然最需要学习其实是工作已经稳定的，因为事业已经稳定，价值已经具备，这时候努力学上三个月肯定够了。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="theme_footer">
        <div class="page_list">
            <ul>
                <li><a href="#">&nbsp;&nbsp;1&nbsp;&nbsp;</a></li>
                <li><a href="#">&nbsp;&nbsp;2&nbsp;&nbsp;</a></li>
                <li><a href="#">&nbsp;&nbsp;3&nbsp;&nbsp;</a></li>
                <li><a href="#">&nbsp;&nbsp;4&nbsp;&nbsp;</a></li>
                <li><a href="#">&nbsp;&nbsp;5&nbsp;&nbsp;</a></li>
                <li>……</li>
                <li><a href="#">821</a></li>
            </ul>
        </div>
    </div>
</div>
<footer>

</footer>
{% end %}
</html>