<!DOCTYPE html>
<html lang="en">
{% block head %}
<meta charset="UTF-8">
<title>{{ themeName }}</title>
<link rel="stylesheet" type="text/css" href="{{ static_url('css/list.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css')}}" />
{% end %}
{% block body %}
<header>
</header>
<nav>
</nav>
<div class="main">
    <div class="theme">
        <div class="theme_name">
            <h1>{{ themeName }}</h1>
        </div>
        <div class="theme_content">
            {% for num in range(start, end) %}
            {% if num < sum %}
            <div class="item">
                <div class="image">
                    <img src="{{ listArticles[num]['image'] }}" alt="cover2" onload="this.width=screen.width;"/>
                </div>
                <div class="text">
                    <div class="title">
                        <h2>{{ listArticles[num]['title'] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ num }}</h2>
                    </div>
                    <div class="brief">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ listArticles[num]['brief'] }}</p>
                    </div>
                </div>
            </div>
            {% end %}
            {% end %}
        </div>
    </div>
    <div class="theme_footer">
        <div class="page_list">
            <ul>
                {% if pages[3] > 1 %}
                <li><a href="{{ urls['list_url'] }}/{{ articlesType }}_1">首页</a></li>
                <li><a href="{{ urls['list_url'] }}/{{ articlesType }}_{{ pages[3]-1 }}">上一页</a></li>
                {% end %}
                {% for page in range(pages[0], pages[1]+1) %}
                <li><a class="li_num" href="{{ urls['list_url'] }}/{{ articlesType }}_{{ page }}"><span>&nbsp;&nbsp;{{ page }}&nbsp;&nbsp;</span></a></li>
                {% end %}
                {% if pages[3] < pages[2] %}
                <li><a  href="{{ urls['list_url'] }}/{{ articlesType }}_{{ pages[3]+1 }}">下一页</a></li>
                <li><a  href="{{ urls['list_url'] }}/{{ articlesType }}_{{ pages[2] }}">尾页</a></li>
                {% end %}
            </ul>
        </div>
    </div>
</div>
<footer>

</footer>
{% end %}
</html>